.border{
    border: 2px solid red;
    margin: 1px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}

.m-1{
    margin:5px ;
}
.p-1{
    padding: 10px;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
    background-color: #1a1a1a; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar handle */
    border-radius: 6px;
    border: 2px solid #1a1a1a; /* Optional: to add a border that blends with the track */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color of the scrollbar handle on hover */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a; /* Handle color | Track color */
}

/* Optional: Custom scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
}
